.centered{
    text-align: center;
}
.large{
    font-size: large;
}
.medium{
    font-size: medium;
}
.small{
    font-size: small;
}
.para{
    font-size: large;
}
#family{
    font-family: Arial, Helvetica, sans-serif;
}